
<section class="PostMetaData">
    <ul class="PostAuthor">
        {{#if author.email}}
            <li>
                <a href="mailto:{{author}}">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </li>
        {{/if}}
        <li>
            <img src="{{author.image }}" />
        </li>
        {{#if author.website}}
            <li>
                <a href="{{author.website}}">
                    <i class="fa fa-external-link"></i>
                </a>
            </li>
        {{/if}}
        <li>
            {{author}}
        </li>
        <li>
            <div class="Date">{{date updated_at timeago="true" format="MMMM DD, YYYY H:M:S"}}</div>
        </li>
    </ul>
</section>
