{{! Previous/next page links - only displayed on page 2+ }}
<!--
<div class="extra-pagination inner">
    {{pagination}}
    </div>
-->

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">

    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        {{> "author"}}
    </header>
    <section class="post-excerpt">
        <p>
            {{excerpt words="256"}}
        </p>
        <br>
        <a class="read-more" href="{{url}}">
            <button class="TransparentButton">More</button>
        </a>
    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<!-- {{pagination}} -->
