<div id="NavContainer" style="opacity: 0;">
    <nav class="navigation" id="SiteMenu">
        {{#foreach navigation}}
            <a href="{{url absolute="true"}}" class="nav-item">
                <i class="fa fa-circle-o"></i> {{label}}
            </a>
            <div class="nav-item-underline"></div>
        {{/foreach}}
        <footer class="site-footer">
            {{#is "home"}}
            <span class="BrandDescription">
              {{@blog.description}}
            </span>
            {{/is}}
            <section id="SocialMedia">
                <i class="fa fa-youtube"></i>
                <i class="fa fa-facebook"></i>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="mailto:contact@animus.design">
                  <i class="fa fa-envelope"></i>
                </a>
            </section>
            <section id="Name">
                <a href="{{@blog.url}}">{{@blog.title}}</a>
                &copy; {{date format="YYYY"}}
            </section>
        </footer>
    </nav>
</div>
