{{!< default}}
    <div class="{{#is "home"}}ShowBody{{/is}}" id="ShowBody">
        <div class="container">
            <br><br><br>
            <div class="row">
                <div class="twelve columns">
                    <header class="BrandHeader">Animus Design</header>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <section id="ShowAboutUs" class="AboutBlock">
                        We are a consulting firm that helps your business fulfill it's technical needs. From social media, web design, to enterprise development. Our goal is to help you find the best solution that meets your needs. There is no one standard way for solving a problem, and we believe in the best tool for the given job.
                    </section>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="twelve columns">
                  <div class="HorizontalList">
                    <button class="DarkButton" onclick="FadeShowBody()" >
                        Blog
                    </button>
                    <button class="DarkButton">
                        Contact
                    </button>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                  <div class="HorizontalList">
                      <div class="IconContainer">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <div class="IconContainer">
                          <i class="fa fa-facebook"></i>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ContentContainer" class="OffScreen">
        {{navigation}}
        <main id="ContentBody" class="ContentBody" role="main">
            <div class="container">
                <div class="row">
                    <div class="two columns"></div>
                    <div class="eight columns">
                        {{! The tag below includes the post loop - partials/loop.hbs }}
                        {{> "loop"}}
                    </div>
                    <div class="two columns"></div>
                </div>
                {{pagination}}
            </div>
        </main>
    </div>
