{{!< default}}
<div id="ContentContainer" class="ContentBody">
        {{navigation}}
        <main id="ContentBody" class="ContentBody" role="main">
            <div class="container">
                <div class="row">
                    <div class="two columns"></div>
                    <div class="eight columns">
                        {{! The tag below includes the post loop - partials/loop.hbs }}
                        {{> "loop"}}
                    </div>
                    <div class="two columns"></div>
                </div>
                {{pagination}}
            </div>
        </main>
</div>
<script>
    $( document ).ready(function() {
        console.log("ready");
        ActivateNav()
    });
</script>
