{{!< default}}
<div id="ContentContainer" class="ContentBody">
    {{navigation}}
    <main role="main">
        {{#post}}
            <header class="PostTitle" {{#if image}}style="background: url({{image}});"{{/if}}>
                {{title}}
            </header>
            <br>
            <div class="container">
                <div class="row">
                    <div class="twelve columns" id="PostContent">
                        {{#is "post"}}
                            {{> "author"}}
                        {{/is}}
                        <article>
                            <section class="PostContent">
                                {{content}}
                                {{#is "post"}}
                                    <aside class="read-next">
                                        {{#next_post}}
                                        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                                            <section class="post">
                                                <h2>{{title}}</h2>
                                                <p>{{excerpt words="19"}}&hellip;</p>
                                            </section>
                                        </a>
                                        {{/next_post}}
                                        {{#prev_post}}
                                        <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                                            <section class="post">
                                                <h2>{{title}}</h2>
                                                <p>{{excerpt words="19"}}&hellip;</p>
                                            </section>
                                        </a>
                                        {{/prev_post}}
                                    </aside>
                                {{/is}}
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        {{/post}}
    </main>
</div>
<script>
    $( document ).ready(function() {
        console.log("ready");
        ActivateNav()
    });
</script>
