@import 'util';
@import 'colors'; 
@import 'navigation';
@import 'block';
@import 'post';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}
.NoRound {
    @include border-radius(1px);
}
.NoBullet {
    list-style: none;
}

.FullHeight {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.MainAbout {
    font-size: 1.5em;
    color: $lightblack;
    font-family: 'Comfortaa', cursive;
}

.BrandHeader {
    color: $white;
    font-size: 6.5em;
    font-weight: bold;
    text-align:center;
    align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px -1px 0 $black,
    2px -1px 0 $black,
    -1px 2px 0 $black,
    2px 2px 0 $black;
}
.BrandLine {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 2px;
    color: black;
    border-bottom-style: groove;
    width: 100%;
}
.BrandDescription {
    font-style: italic;
    font-size: 0.9em;
    color: $white;
    text-align: center;
}

.ShowBody {
    top: 0;
    left: 0;
    background: url('../images/philly-skyline.jpg') center center no-repeat fixed;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    background-image-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 200%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
@media only screen and (max-width: 720px) {
    .site-footer {
        visibility: hidden;
    }
    .ShowBody {
        background: url('../images/philly-skyline-mobile.jpg') center center no-repeat fixed;
        background-size: cover;
    }
    .BrandHeader {
        font-size: 2.25em;
    }
    .MainAbout {
        font-size: 1em;
    }
    .PostAuthor {
        font-size: 0.75em;
    }
    .PostTitle {
        font-size: 2em;
        height: 64px;
    }
        .AboutBlock {
            font-size: 1em;
            padding: 2px;
            margin: auto;
        }
        .nav-item {
          width: auto;
          height: auto;
          margin: auto;
          padding: 0;
            font-size: 0.85em;
            font-family: 'Roboto', sans-serif;
            color: $white;
        }
        .nav-item i {
            font-size: 0.4em;
            vertical-align: middle;
        }

        .nav-item-underline {
            visibility: hidden;
            display: none;
        }
        .nav-item a {
          display: inline-block;
          color: $white;
          font-size: 0.85em;
          text-decoration: none;
          margin-left: 2px;
          margin-right: 2px;
        }
    nav, .navigation, nav a {
      width: 100%;
      left: 0;
      top: 0;
      height: 24px;
      background: $lightblack;
      display: inline-block;
      z-index: 1000;
    }
    .ContentBody {
        margin-top: 25px;
    }
    .PostContent img {
        width: 80% !important;
        height: auto !important;
        margin: auto !important;
    }
}
.site-footer {
    display: table-cell;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    align: center;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.0em;
    color: $gray;
    width: 12%;
    margin: auto;
}
.site-footer a {
    text-decoration: none;
}
.Date {
    font-size: 0.65em;
    text-align: right;
    align: right;
    font-style: italic;
    line-height: 8px;
}
.hidden {
    visibility: hidden;
} 
.OffScreen {
    bottom: -100%;
}
