@import 'colors';
@import 'util';

.Block {
    display: inline-block;
    background-color: $black-75A;
    height: 100%;
    min-height: 256px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.85em;
    @include border-radius(10px);
    color: white;
    align: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
}
.AboutBlock {
    @extend .Block;
    font-size: 1.5em;
}
.SolidBlock {
    @extend .Block;
    background: black;
}
.White-Block {
    @extend .Block;
    border-color: $black;
    border-style: solid;
    border: 2px;
    background: $white;
    color: black;
}
.LightGray-Block {
    @extend .Block;
    border-color: $black;
    border-style: solid;
    border: 2px;
    background: $lightgray;
    color: $black;
}
.WhiteBlock .BlockHead {
    background: black;
    color: $gray;
}
.WhiteBlock PostContent {
    color: $black;
}
.Block a {
    color: $lightgray;
    text-align: left;
    text-decoration: none;
}

.Block p {
    padding-top: 10px;
    text-align: left;
}
.Block a:hover {
    color: $white;
    border-bottom-color: $gray;
    border-bottom: 1px;
    border-bottom-style: inset;
}

.Block a:visited {
    color: $white;
}

.Block-Head {
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.75em;
    text-align: left;
    align: left;
    margin-bottom: 60px;
    font-family: 'Comfortaa', cursive;
}

.Block-Sm {
    height: 180px;
}
