$black: rgb(0, 0, 0);
$black-25A: rgba(0, 0, 0, 0.25);
$black-50A: rgba(0, 0, 0, 0.5);
$black-75A: rgba(0, 0, 0, 0.75);

$lightblack: rgb(35, 35, 35);
$lightblack-25A: rgba(35, 35, 35, 0.25);
$lightblack-50A: rgba(35, 35, 35, 0.5);
$lightblack-75A: rgba(35, 35, 35, 0.75);

$gray: rgb(47,79,79);
$gray-25A: rgba(47,79,79, 0.25);
$gray-50A: rgba(47,79,79, 0.5);
$gray-75A: rgba(47,79,79, 0.75);

$lightgray: rgb(200, 200, 200);
$lightgray-25A: rgba(200, 200, 200, 0.25);
$lightgray-50A: rgba(200, 200, 200, 0.5);
$lightgray-75A: rgba(200, 200, 200, 0.75);

$white: rgb(255, 255, 255);
$white-25A: rgba(255, 255, 255, 0.25);
$white-50A: rgba(255, 255, 255, 0.5);
$white-75A: rgba(255, 255, 255, 0.75);

.BlackBG {
    background: $black;
}
.LightBlackBG {
    background: $lightblack;
}
.WhiteBG {
    background: $white;
}
.LightGrayBG {
    background: $lightgray;
}
.GrayBG {
    background: $gray;
}
