@import 'colors';
@import 'util';

@media only screen and (min-width: 1280px) {
    nav, .navigation {
      position: fixed;
      width: 12%;
      left: 0;
      top: 0;
      height: 100%;
      background: $lightblack;
    }

    .nav-item {
      z-index: 2;
      width: 230px;
      height: 24px;
      margin: auto;
      padding-left: 20px;
        font-size: 1.15em, ;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: $white;
    }
    .nav-item i {
        font-size: 0.7em;
        vertical-align: middle;
    }

    .nav-item-underline {
      border-bottom: 1px dotted $white;
      line-height: 2px;
      right: 50%;
    }

    .nav-item a {
      display: block;
      color: $white;
      font-size: 1.2em;
      text-decoration: none;
      transition: color 0.2s, background 0.5s;
    }

    .nav-item a:hover {
      color: $lightgray;
    }

    .nav-trigger {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
}


.HorizontalList {
    display: table;
    text-align: center;
    width: 100%;
}
.Button-Small {
    display-table: cell;
    height: 24px;
    width: 48px;
    font-size: 12x;
    text-align: center;
}
.Button-Medium {
    display: table-cell;
    height: 32px;
    width: 96px;
    font-size: 18px;
    text-align: center;
}
.Button-Large {
    display-table: cell;
    height: 32px;
    width: 128px;
    font-size: 28px;
    text-align: center;
}
.DarkButton {
    @extend .dark-on-light;
    @extend .Button-Medium;
    border-color: $lightgray;
    border-style: solid;
    background: $black;
    color: $white;
    margin: 5px;
    padding: 4px;
    @include border-radius(16px);
    display: table-cell;
    text-align: center;
    vertical-align: center;
}
.TransparentButton {
    @extend .DarkButton;
    background: transparent;
}
.DarkButton:hover {
    background: $white;
    border-color: black;
    border: 1px;
    border-style: solid;
    color: $black;
}
.DarkButton:hover div {
    color: $black;
}
.DarkButton div {
    @extend .DarkButton;
    display: table-cell;
    vertical-align: bottom;
}
.DarkButton i {
    font-size: 14px;
}

.IconContainer {
    display: inline-block;
    vertical-align: center;
    @include border-radius(16px);
    @extend .Button-Small;
    background: $black;
    color: $white;
    margin: 5px;
}
.IconContainer i {
    display: inline-block;
    vertical-align: center;
    height: 24px;
    width: 24px;
    text-align: center;
    color: $white;
}
