@import 'colors';
@import 'util';

.ContentBody {
    align: left;
    text-align: left;
    font-size: 0.95em;
    height: 100%;
    width: 100%;
    background: $gray;
    color: $white;
    @extend .dark-on-light;
}
.ContentBody h1,
.ContentBody h2,
.ContentBody h3,
.ContentBody h4,
.ContentBody h5,
.ContentBody h6 {
    font-family: 'Comfortaa', cursive;
    color: $lightblack;

}
.ContentBody img {
    margin: auto;
    width: auto;
    height: auto;
    display: block;
    align: center;
    max-height: 720px;
    max-width: 1024px;
}
.pagination {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    color: $white;
    text-align: right;
    text-decoration: none;
    right: 0;
}
.PostTitle {
    /* Background pattern from subtlepatterns.com */
    background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png') repeat center center fixed;
    height: 128px;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 2em;
    color: $lightgray;
    vertical-align: middle;
    border-bottom: 2px;
    border-bottom-color: $black;
    border-bottom-style: groove;
    font-family: 'Roboto', sans-serif;
    font-size: 3.45em;
    font-weight: none;
    text-align: center;
    margin-bottom: -1%;
    width: 100%;
}
.ProfileImg {
    height: 256px !important;
    width: auto;
    margin: auto;
    @include border-radius(64px);
}
.ContentBody p {
    display: inline-block;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}
.PostMetaData {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.PostAuthor {
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    vertical-align: middle;
}
.PostAuthor img {
    height: 32px;
    width: auto;
    border-radius: 50%;
    max-width: 85%;
}
.PostAuthor li {
    display: table-cell;
    padding: 5px;
}
.PostAuthor a {
    color: $black;
    text-decoration: none;
    font-size: 1.5em;
}
.PostAuthor a:hover {
    color: $white;
}
.PostAuthor a:visited {
    color: $lightblack;
}
.PostAuthor i {
    height: 24px;
    vertical-align: bottom;
}
.LeadPostImage {
    position: fixed;
    display: table;
    width: auto;
    right: -50%;
    left: 50%;
    top: 0;
    height: auto;
    max-height: 256px;
}
