@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.dark-on-light, .DarkButton, .TransparentButton, .DarkButton div, .ContentBody {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.BlackBG {
  background: black; }

.LightBlackBG {
  background: #232323; }

.WhiteBG {
  background: white; }

.LightGrayBG {
  background: #c8c8c8; }

.GrayBG {
  background: darkslategray; }

.BlackBG {
  background: black; }

.LightBlackBG {
  background: #232323; }

.WhiteBG {
  background: white; }

.LightGrayBG {
  background: #c8c8c8; }

.GrayBG {
  background: darkslategray; }

.dark-on-light, .DarkButton, .TransparentButton, .DarkButton div, .ContentBody {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width: 1280px) {
  nav, .navigation {
    position: fixed;
    width: 12%;
    left: 0;
    top: 0;
    height: 100%;
    background: #232323; }

  .nav-item {
    z-index: 2;
    width: 230px;
    height: 24px;
    margin: auto;
    padding-left: 20px;
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white; }

  .nav-item i {
    font-size: 0.7em;
    vertical-align: middle; }

  .nav-item-underline {
    border-bottom: 1px dotted white;
    line-height: 2px;
    right: 50%; }

  .nav-item a {
    display: block;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s; }

  .nav-item a:hover {
    color: #c8c8c8; }

  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0); } }
.HorizontalList {
  display: table;
  text-align: center;
  width: 100%; }

.Button-Small, .IconContainer {
  display-table: cell;
  height: 24px;
  width: 48px;
  font-size: 12x;
  text-align: center; }

.Button-Medium, .DarkButton, .TransparentButton, .DarkButton div {
  display: table-cell;
  height: 32px;
  width: 96px;
  font-size: 18px;
  text-align: center; }

.Button-Large {
  display-table: cell;
  height: 32px;
  width: 128px;
  font-size: 28px;
  text-align: center; }

.DarkButton, .TransparentButton, .DarkButton div {
  border-color: #c8c8c8;
  border-style: solid;
  background: black;
  color: white;
  margin: 5px;
  padding: 4px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  display: table-cell;
  text-align: center;
  vertical-align: center; }

.TransparentButton {
  background: transparent; }

.DarkButton:hover, .TransparentButton:hover, .DarkButton div:hover {
  background: white;
  border-color: black;
  border: 1px;
  border-style: solid;
  color: black; }

.DarkButton:hover div, .TransparentButton:hover div, .DarkButton div:hover div {
  color: black; }

.DarkButton div, .TransparentButton div {
  display: table-cell;
  vertical-align: bottom; }

.DarkButton i, .TransparentButton i {
  font-size: 14px; }

.IconContainer {
  display: inline-block;
  vertical-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  background: black;
  color: white;
  margin: 5px; }

.IconContainer i {
  display: inline-block;
  vertical-align: center;
  height: 24px;
  width: 24px;
  text-align: center;
  color: white; }

.BlackBG {
  background: black; }

.LightBlackBG {
  background: #232323; }

.WhiteBG {
  background: white; }

.LightGrayBG {
  background: #c8c8c8; }

.GrayBG {
  background: darkslategray; }

.dark-on-light, .DarkButton, .TransparentButton, .DarkButton div, .ContentBody {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.Block, .AboutBlock, .SolidBlock, .White-Block, .LightGray-Block {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  min-height: 256px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.85em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: white;
  align: center;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em; }

.AboutBlock {
  font-size: 1.5em; }

.SolidBlock {
  background: black; }

.White-Block {
  border-color: black;
  border-style: solid;
  border: 2px;
  background: white;
  color: black; }

.LightGray-Block {
  border-color: black;
  border-style: solid;
  border: 2px;
  background: #c8c8c8;
  color: black; }

.WhiteBlock .BlockHead {
  background: black;
  color: darkslategray; }

.WhiteBlock PostContent {
  color: black; }

.Block a, .AboutBlock a, .SolidBlock a, .White-Block a, .LightGray-Block a {
  color: #c8c8c8;
  text-align: left;
  text-decoration: none; }

.Block p, .AboutBlock p, .SolidBlock p, .White-Block p, .LightGray-Block p {
  padding-top: 10px;
  text-align: left; }

.Block a:hover, .AboutBlock a:hover, .SolidBlock a:hover, .White-Block a:hover, .LightGray-Block a:hover {
  color: white;
  border-bottom-color: darkslategray;
  border-bottom: 1px;
  border-bottom-style: inset; }

.Block a:visited, .AboutBlock a:visited, .SolidBlock a:visited, .White-Block a:visited, .LightGray-Block a:visited {
  color: white; }

.Block-Head {
  color: white;
  display: table-cell;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.75em;
  text-align: left;
  align: left;
  margin-bottom: 60px;
  font-family: 'Comfortaa', cursive; }

.Block-Sm {
  height: 180px; }

.BlackBG {
  background: black; }

.LightBlackBG {
  background: #232323; }

.WhiteBG {
  background: white; }

.LightGrayBG {
  background: #c8c8c8; }

.GrayBG {
  background: darkslategray; }

.dark-on-light, .DarkButton, .TransparentButton, .DarkButton div, .ContentBody {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ContentBody {
  align: left;
  text-align: left;
  font-size: 0.95em;
  height: 100%;
  width: 100%;
  background: darkslategray;
  color: white; }

.ContentBody h1,
.ContentBody h2,
.ContentBody h3,
.ContentBody h4,
.ContentBody h5,
.ContentBody h6 {
  font-family: 'Comfortaa', cursive;
  color: #232323; }

.ContentBody img {
  margin: auto;
  width: auto;
  height: auto;
  display: block;
  align: center;
  max-height: 720px;
  max-width: 1024px; }

.pagination {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  color: white;
  text-align: right;
  text-decoration: none;
  right: 0; }

.PostTitle {
  /* Background pattern from subtlepatterns.com */
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png") repeat center center fixed;
  height: 128px;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 2em;
  color: #c8c8c8;
  vertical-align: middle;
  border-bottom: 2px;
  border-bottom-color: black;
  border-bottom-style: groove;
  font-family: 'Roboto', sans-serif;
  font-size: 3.45em;
  font-weight: none;
  text-align: center;
  margin-bottom: -1%;
  width: 100%; }

.ProfileImg {
  height: 256px !important;
  width: auto;
  margin: auto;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  border-radius: 64px; }

.ContentBody p {
  display: inline-block;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif; }

.PostMetaData {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block; }

.PostAuthor {
  height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  vertical-align: middle; }

.PostAuthor img {
  height: 32px;
  width: auto;
  border-radius: 50%;
  max-width: 85%; }

.PostAuthor li {
  display: table-cell;
  padding: 5px; }

.PostAuthor a {
  color: black;
  text-decoration: none;
  font-size: 1.5em; }

.PostAuthor a:hover {
  color: white; }

.PostAuthor a:visited {
  color: #232323; }

.PostAuthor i {
  height: 24px;
  vertical-align: bottom; }

.LeadPostImage {
  position: fixed;
  display: table;
  width: auto;
  right: -50%;
  left: 50%;
  top: 0;
  height: auto;
  max-height: 256px; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif; }

.NoRound {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }

.NoBullet {
  list-style: none; }

.FullHeight {
  height: 100%;
  max-height: 100%;
  min-height: 100%; }

.MainAbout {
  font-size: 1.5em;
  color: #232323;
  font-family: 'Comfortaa', cursive; }

.BrandHeader {
  color: white;
  font-size: 6.5em;
  font-weight: bold;
  text-align: center;
  align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 2px 0 black, 2px 2px 0 black; }

.BrandLine {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 2px;
  color: black;
  border-bottom-style: groove;
  width: 100%; }

.BrandDescription {
  font-style: italic;
  font-size: 0.9em;
  color: white;
  text-align: center; }

.ShowBody {
  top: 0;
  left: 0;
  background: url("../images/philly-skyline.jpg") center center no-repeat fixed;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  background-image-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 200%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em; }

@media only screen and (max-width: 720px) {
  .site-footer {
    visibility: hidden; }

  .ShowBody {
    background: url("../images/philly-skyline-mobile.jpg") center center no-repeat fixed;
    background-size: cover; }

  .BrandHeader {
    font-size: 2.25em; }

  .MainAbout {
    font-size: 1em; }

  .PostAuthor {
    font-size: 0.75em; }

  .PostTitle {
    font-size: 2em;
    height: 64px; }

  .AboutBlock {
    font-size: 1em;
    padding: 2px;
    margin: auto; }

  .nav-item {
    width: auto;
    height: auto;
    margin: auto;
    padding: 0;
    font-size: 0.85em;
    font-family: 'Roboto', sans-serif;
    color: white; }

  .nav-item i {
    font-size: 0.4em;
    vertical-align: middle; }

  .nav-item-underline {
    visibility: hidden;
    display: none; }

  .nav-item a {
    display: inline-block;
    color: white;
    font-size: 0.85em;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px; }

  nav, .navigation, nav a {
    width: 100%;
    left: 0;
    top: 0;
    height: 24px;
    background: #232323;
    display: inline-block;
    z-index: 1000; }

  .ContentBody {
    margin-top: 25px; }

  .PostContent img {
    width: 80% !important;
    height: auto !important;
    margin: auto !important; } }
.site-footer {
  display: table-cell;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  align: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.0em;
  color: darkslategray;
  width: 12%;
  margin: auto; }

.site-footer a {
  text-decoration: none; }

.Date {
  font-size: 0.65em;
  text-align: right;
  align: right;
  font-style: italic;
  line-height: 8px; }

.hidden {
  visibility: hidden; }

.OffScreen {
  bottom: -100%; }
